
        <%= form_tag("/users/login") do %>
          <p>ID</p>

          <input name="uid">
          <p>パスワード</p>
    
          <input type="password" name="pass">
          <input type="submit" value="ログイン">
  
        <% end %>

