新規ユーザー登録



<% @user.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>




<%= form_tag("/users/create") do %>
  <p>ユーザー名</p>
    <input name="uid">
    <p>password</p>

    <input name="password" type="password"><br>
    <input type="submit" value="新規登録">
    <p>※すでに存在するIDは保存されません</p>
<% end %>