<!DOCTYPE html>
<html>
  <head>
    <title>L4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li><%= link_to("新規登録","/signup") %></li>
    <li><%= link_to("ID一覧","/users/index") %></li>
    <li><%= link_to("ログイン","/login") %></li>
    <li><%= link_to("ログアウト","/logout") %></li>
    <%= yield %>
  </body>
</html>
